{% extends 'lms/base.html' %}

{% load static %}
{% block content %}

<div class="content-wrapper">
    <div class="card-deck">
        <div class="card col-lg-12 px-0 mb-4">
            <div class="card-body">
                <h5 class="card-title">Leaderboards</h5>
                <!-- Display logged-in student's current rank and score -->
                {% if student_rank and student_score %}
                <div class="alert alert-info">
                    <h3><strong>Your Current Rank: {{ student_rank }}</strong></h3><br>
                    <h5><strong>Your Total Earned Points: {{ student_score }}</strong></h5>
                </div>
                {% else %}
                <div class="alert alert-warning">
                    <strong>You have not participated in any quizzes yet.</strong>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="card col-lg-12 px-0 mb-4">
            <div class="card-body">
                <h5 class="card-title">Leaderboards</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Student ID</th>
                            <th>First Name</th>
                            <th>Total Earned Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in students %}
                        <tr {% if i.student_id == request.user.student_id %} class="table-info" {% endif %}>
                            <td>{{ i.rank }}</td> <!-- Display rank -->
                            <td>{{ i.student_id }}</td>
                            <td>{{ i.first_name }}</td>
                            <td>{{ i.total_score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
