{% extends 'lms/teacher/base.html' %} 

{% load static %} 
{% block content %} 

<div class="content-wrapper">
    <div class="card-deck">
      <div class="card col-lg-12 px-0 mb-4">
        <div class="card-body">
          <h5 class="card-title">Leaderboards</h5>
        </div>
      </div>
    </div>
    
    <div class="card-deck">
        <div class="card col-lg-12 px-0 mb-4">
            <div class="card-body">
                <h5 class="card-title">Leaderboards</h5>
                <table class="table">
                    <thead>
                        <tr class="">
                            <th>Student ID</th>
                            <th>First Name</th>
                            <th>Total Earned Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in students %}
                        <tr>
                            <td>{{i.student_id}}</td>
                            <td>{{i.first_name}}</td>
                            <td>{{i.total_score}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}