{% extends 'lms/teacher/base.html' %} 

{% load static %} 
{% block content %} 

<div class="content-wrapper">
    <h3 class="page-heading mb-4">Profile</h3>
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form class="forms-sample" method="POST">
              {% csrf_token  %}
                <div class="form-group">
                  <label for="exampleTextarea">First Name</label>
                  <input type="text" class="form-control p_input" placeholder="First Name" name="first_name" value="{{request.user.first_name}}">
                </div>
                <div class="form-group">
                  <label for="exampleTextarea">Last Name</label>
                  <input type="text" class="form-control p_input" placeholder="Last Name" name="last_name" value="{{request.user.last_name}}">
                </div>
                <div class="form-group">
                  <label for="exampleTextarea">Gender</label>
                  <select class="form-control p-input" name="gender" id="">
                    <option value="" selected>{{request.user.gender}}</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleTextarea">BirthDate</label>
                  <input type="date" class="form-control p_input" placeholder="Username" name="birth_date" value="{{request.user.birth_date}}">
                </div>
                <button type="submit" class="btn btn-primary btn-block enter-btn">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
