{% extends 'lms/base.html' %} 

{% load static %} 
{% block content %} 

<div class="content-wrapper">
    {% for announcement in global_announcement %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>{{announcement.title | title}}</strong> {{announcement.description}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    <div class="card-deck">
      <div class="card col-lg-12 px-0 mb-4">
        <div class="card-body">
          <h5 class="card-title">Courses</h5>
          <form class="forms-sample" method="POST">
            {% csrf_token  %}
              <div class="form-group">
                <input type="text" class="form-control p_input" placeholder="Course Code" name="course_code" >
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary mr-2">Add Course</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    {% for i in courses  %}
    <div class="card-deck">
      <div class="card col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4" style="min-height:395px;">
        <div class="card-body">
          <h5 class="card-title mb-4">{{i.name | title }}</h5>
          <div class="row d-flex align-items-center justify-items-center flex-column">
            <div class="text-center">
              <img src="{{i.image.url}}" width="200" height="200" />
            </div>
            <!-- <div class="text-center mt-3">
              <i class="fa fa-quote-right icon-grey-big"></i>
            </div> -->
            <p class="font-italic text-muted mt-3 mb-4 text-center">
              {{i.description }}
            </p>
            <a href="{% url 'course_details' i.course_code %}" class="btn btn-info mr-2">View Course</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor  %}

</div>
{% endblock %}
