{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% progressive_web_app_meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Techknow | Login
  </title>
  <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css'  %}" />
  <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css'  %}" />
  <link rel="stylesheet" href="{% static 'css/style.css'  %}" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png'  %}" />
  <script async defer src="https://tianji.ellequin.com/tracker.js" data-website-id="cm1c5dceaa7op14h9l2z1c3uv"></script>
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid">
      <div class="row">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
              {% endif %}
              <h3 class="card-title text-left mb-3">Login</h3>
              <form method="POST">
                {% csrf_token  %}
                <div class="form-group">
                  <input type="text" class="form-control p_input" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control p_input" placeholder="Password" name="password">
                </div>
                {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">LOG IN</button>
                </div>
                <a href="{% url 'register' %}" class="google-login btn btn-create-account btn-block">Create An Account</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'node_modules/jquery/dist/jquery.min.js'  %}"></script>
  <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js'  %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js'  %}"></script>
  <script src="{% static 'node_modules/chart.js/dist/Chart.min.js'  %}"></script>
  <script src="{% static 'node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js'  %}"></script>
  <script src="{% static 'js/misc.js'  %}"></script>
</body>

</html>
